<div class="center hero-unit">
  <h1>Welcome to <span style="color:black">menu</span>machine.</h1>

  <h2>
    <strong>menu</strong>machine allows you to modify your app's menu through the web.
  </h2>

<!-- <%= link_to "Sign up now!", signup_path, 
                              class: "btn btn-large btn-primary" %> -->
</div>